html{
  color: #000;
  background-color: #000000;
  background-image: -webkit-gradient(linear, top, bottom, from(#0B6121), to(#31B404));
  background-image: -webkit-linear-gradient(#0B6121, #31B404);
  background-image: -moz-linear-gradient(#0B6121, #31B404);
  background-image: -o-linear-gradient(#0B6121, #31B404);
  background-image: linear-gradient(#0B6121, #31B404);
}
body {
  color: #000;
  background-color: #000000;
  background-image: -webkit-gradient(linear, top, bottom, from(#0B6121), to(#31B404));
  background-image: -webkit-linear-gradient(#0B6121, #31B404);
  background-image: -moz-linear-gradient(#0B6121, #31B404);
  background-image: -o-linear-gradient(#0B6121, #31B404);
  background-image: linear-gradient(#0B6121, #31B404)
}

.header {
  background-image: url("../../../img/gr.PNG");
}

.logo {
  background-image: url(../../../img/logo.png)
}
.logo2 {
  background-image: url(../../../img/wartung.gif)
}

.borderL {
  border-left: 1px solid #000000
}

.borderR {
  border-right: 1px solid #000000
}

.borderT {
  border-top: 1px solid #000000
}

.borderB {
  border-bottom: 1px solid #000000
}

.borderBigL {
  border-left: 1px solid #000000
}

.borderBigR {
  border-right: 1px solid #000000
}

.borderBigT {
  border-top: 1px solid #000000
}

.borderBigB {
  border-bottom: 1px solid #000000
}

.menuBG {
  background-color: #ddd
}

.smallBG {
  background-color: #eee
}

.profileBox {
  background-color: rgba(238, 238, 238, 0.5)
}

.footer {
  background: linear-gradient(#f3f3f3, #ccc)
}

.catGradient {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: #088A08;
  background-image: linear-gradient(#0B6121, #31B404)
}

.textColor {
  color: #fff
}

a {
  color: #000
}

a:hover {
  color: gray
}

.navigationbarbuttontext {
  color: #fff;
  text-shadow: 2px 1px 2px #000
}

.navigationbarbutton a:hover {
  color: #fafafa;
  background-color: #01DF01;
  background-image: linear-gradient(#31B404,#0B6121);
}

.SideMenuButton {
  color: #000;
  background-image: linear-gradient(#ccc, #ccc)
}

.SideMenuInfo {
  color: #000;
  background-color: #ececec
}

.SideMenuButton a {
  color: #999;
  text-shadow: 0 1px 0 #000
}

.SideMenuButton:hover {
  color: #fff;
  background-color: #01DF01;
 background-image: linear-gradient(#0B6121, #31B404);
}

.SideMenuNotification,
.SideMenuTextNotification,
.SideMenuImportantTextNotification {
  border: 1px thin #fff;
  color: #fff;
  background: #0186ba
}

.SideMenuImportantTextNotification {
  background: red
}

.schatten {
  text-shadow: 2px 1px 2px #000
}

.boxSchatten {
  box-shadow: 2px 1px 2px #888
}

.lpanzeige {
  background: #e00f0f;
  background: -moz-linear-gradient(#ff7a7a, #e00f0f);
  background: -webkit-linear-gradient(#ff7a7a, #e00f0f);
  background: linear-gradient(#ff7a7a, #e00f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7a7a', endColorstr='#e00f0f', GradientType=0)
}
.lpanzeige2
{
  background: #e0960e;
  background: -moz-linear-gradient(#ffd079 ,#e0960e);
  background: -webkit-linear-gradient(#ffd079 ,#e0960e);
  background: linear-gradient(#ffd079 ,#e0960e);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd079', endColorstr='#e0960e',GradientType=0 );
}

.kpanzeige {
  background: #5bff84;
  background: -moz-linear-gradient(#5bff84, #049127);
  background: -webkit-linear-gradient(#5bff84, #049127);
  background: linear-gradient(#5bff84, #049127);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bff84', endColorstr='#049127', GradientType=0)
}
.kpanzeige2 {
  background: #5bf6ff;
  background: -moz-linear-gradient(#5bf6ff, #049180);
  background: -webkit-linear-gradient(#5bf6ff, #049180);
  background: linear-gradient(#5bf6ff, #049180);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bf6ff', endColorstr='#049180', GradientType=0)
}

.epanzeige {
  background: #fee358;
  background: -moz-linear-gradient(#fee358, #fcbe3f);
  background: -webkit-linear-gradient(#fee358, #fcbe3f);
  background: linear-gradient(#fee358, #fcbe3f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee358', endColorstr='#fcbe3f', GradientType=0)
}
.epanzeige2 {
  background: #f5a152;
  background: -moz-linear-gradient(#f5a152, #d9b469);
  background: -webkit-linear-gradient(#f5a152, #d9b469);
  background: linear-gradient(#f5a152, #d9b469);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bf6ff', endColorstr='#d9b469', GradientType=0)
}

textarea {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

input[type=text]:focus {
  border-color: #333
}

input[type=password] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

input[type=password]:focus {
  border-color: #333
}

Button,
input[type=submit] {
  padding: 5px 15px;
   color: #fff;
  background: linear-gradient(#0B6121, #31B404);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.select {
  background: #fff;
  border: 2px solid #ccc
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:focus::-moz-placeholder {
  color: transparent
}

input:-moz-placeholder {
  color: transparent
}